Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.idea
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
IndigoGame/CMakeLists.txt
*.make
IndigoGame/cmake-build-debug/Makefile
*.cbp
*.cmake
IndigoGame/cmake-build-debug/CMakeCache.txt
IndigoGame/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
IndigoGame/cmake-build-debug/CMakeFiles/clion-log.txt
IndigoGame/cmake-build-debug/CMakeFiles/clion-environment.txt
IndigoGame/cmake-build-debug/CMakeFiles/CMakeOutput.log
IndigoGame/cmake-build-debug/CMakeFiles/cmake.check_cache
IndigoGame/cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
IndigoGame/cmake-build-debug/CMakeFiles/FakeTarget.dir/objects1.rsp
IndigoGame/cmake-build-debug/CMakeFiles/FakeTarget.dir/objects11.rsp
IndigoGame/cmake-build-debug/CMakeFiles/FakeTarget.dir/objects10.rsp
IndigoGame/cmake-build-debug/CMakeFiles/FakeTarget.dir/objects12.rsp
*.rsp
*.obj
*.exe
IndigoGame/cmake-build-debug/CMakeFiles/Makefile2
*.txt
IndigoGame/cmake-build-debug/CMakeFiles/progress.marks
IndigoGame/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
IndigoGame/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
IndigoGame/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
